.layout {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  min-height: 100vh;
}

.content {
  position: relative;
  min-height: 100vh;
  overflow: visible;
}

.with-sidebar {
  margin-left: var(--sidebar-width);
}

@media (max-width: 960px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .with-sidebar {
    margin-left: 0;
  }
}


