.detail-container {
  position: relative;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.back-button {
  position: absolute;
  top: .5rem;
  left: .5rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ac0017;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 1000;

  .material-symbols-outlined {
    font-size: 18px;
  }
}


.detail-image {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.qty-number {
  font-weight: bold;
  font-size: 1.1rem;
}

.round-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #ac0017;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

.add-to-cart {
  background: #ac0017;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  display: block;
  margin: auto;
}
